{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-5 bg-dark text-white">
                <div class="card-body">
                        <h1 class="card-title text-center mb-4">{{ post.title }}</h1>
                        <span class="card-text">{{ post.summury }}</span>
                        <p class="card-text">{{ post.content|linebreaks }}</p>
                        <a class="btn btn-outline-light me-2" href="{{ post.get_absolute_url }}">Читать пост</a>
                    <div class="text-end mt-4 ">
                        <span class="">Автор: {{ post.author }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}