{% extends "base.html" %}
{% load static %}

{% block title %}Регистрация завершена{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-dark border-light card-auth">
            <div class="card-body text-center">
                <h2 class="card-title mb-4 text-white">Регистрация завершена</h2>

                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#28a745" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg>
                </div>

                <p class="mb-4">Вы успешно зарегистрировались! Теперь вы можете войти в систему.</p>

                <a href="{% url 'users:login' %}" class="btn btn-outline-light w-100">Войти в аккаунт</a>

                <div class="social-icons">
                    <a href="#" class="mx-2"><img src="{% static 'img/vk.png' %}" alt="VK" style="height: 32px;"></a>
                    <a href="#" class="mx-2"><img src="{% static 'img/github.png' %}" alt="GitHub" style="height: 32px;"></a>
                    <a href="#" class="mx-2"><img src="{% static 'img/tg.png' %}" alt="Telegram" style="height: 32px;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}